{% extends "superset/spa.html" %}
{% import 'appbuilder/general/lib.html' as lib  %}
{% block title %} {{form.title}} {% endblock %}
 
{% block content %}
  <h2> {{form.title}} </h2>
  <br>
  
<form id="form" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <br>
      {{lib.render_field(form.report_field)}}
      <br>
      {{lib.render_field(form.region_field)}}
      <br>
      {{lib.render_field(form.activity_field)}}
      <br>
      <button type="submit" class="btn">Отправить отчёт</button>

    </form>
  </div>
</body>
</html>
