{% extends "superset/spa.html" %}
{% import 'appbuilder/general/lib.html' as lib  %}
{% block title %}Загрузка отчёта{% endblock %}
 
{% block content %}

  <h2>{{title}}</h2>
  <div class="container">
    <form  method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ lib.render_field(form.region) }}
        
      </div>

      <div class="form-group">
        {{ lib.render_field(form.locale) }}      
      </div>

      <div class="form-group">
        {{ lib.render_field(form.report) }}
        
      </div>

      <button type="submit" class="btn">Отправить отчёт</button>

    </form>
  </div>
</body>
</html>