{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib  %}
{% block title %} {{form.title}} {% endblock %}
 
{% block page_content %}
  <h2> {{form.title}} </h2>
  <br>
  <div class="container" style="margin-top: 20px;">
    <form id="uploadForm" method="post" enctype="multipart/form-data">
          
          {{ form.hidden_tag()}}
          <br>
          {{lib.render_field(form.report_field)}}
          <br>
          {{lib.render_field(form.region_field)}}
          <br>
          {{lib.render_field(form.activity_field)}}
          <br> 
          <button type="submit" class="btn">Отправить отчёт</button>
    </form>
  </div>
{% endblock %}

